<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/partials/sidebar.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <title>Edite</title>
</head>
<body>
    <%- include('../partials/sidebar.ejs') %>
    <section class="main">
        <div class="main-menu">
            <header>
                <span>Home - Edite</span>
                <h1>Editar Postagem</h1>
            </header>
        </div>
        <div class="main-content"> 
            <% post.forEach(post => { %>
            <form action="/edit" method="POST">
                <input type="hidden" name="id" value="<%= post.id %>">
                <label for="title">Titulo: </label>
                <input type="text" name="title" id="title" value="<%= post.title %>">
                <label for="body">Categoria: </label>
                
                <select name="category">
                    <option value="entretenimento">Entretenimento</option>
                    <option value="musica">Musica</option>
                    <option value="esporte">Esporte</option>
                    <option value="cultura">Cultura</option>
                </select>
                <div class="editpost">
                    <textarea name="body"><%= post.body %></textarea>
                </div>
                <div>
                    <button type="submit">Salvar alterações</button>
                </div>

            </form>
            <% }) %>
        </div>
    </section>
    <%- include('../partials/text_editor.ejs') %>
    
</body>
</html>